<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Game.Interface.KeyBinds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Game.KeyBinds" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Game.Interface.KeyBinds>
            <setting name="MoveUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="MoveRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="MoveDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="MoveLeft" serializeAs="String">
                <value>Left</value>
            </setting>
        </Game.Interface.KeyBinds>
        <Game.KeyBinds>
            <setting name="MoveUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="MoveRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="MoveDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="MoveLeft" serializeAs="String">
                <value>Left</value>
            </setting>
        </Game.KeyBinds>
    </userSettings>
</configuration>